<?xml version="1.0"?>
<launch>


    <!--Run rviz-->
    <node pkg = "rviz" name = "rviz" type = "rviz" args="-d $(find robotsim)/rviz/drone.rviz">
    </node>




    <!--ROBOT 0-->


    <!--Run simulated vision-->
    <node pkg = "robotsim" name = "vision" type = "vision.py" args="" output="screen">
        <rosparam command="load" file="$(find examples)/config/pub_path.yaml" />
    </node>

    <!--Run the node that will generate an example path-->
    <node pkg = "robotsim" name = "robot" type = "drone_sim.py" args="" output="screen">
        <rosparam command="load" file="$(find robotsim)/config/drone_sim.yaml" />
    </node>


    <!--Run the node that will generate an example path-->
    <node pkg = "examples" name = "path_generator" type = "example_path.py" args="" output="screen">
        <rosparam command="load" file="$(find examples)/config/pub_path.yaml" />
    </node>


    <!-- Run the node that controls the robot with vector fields -->
    <node pkg="quad_robot" name="quad_node" type="quad_node.py" args="" output="screen">
        <rosparam command="load" file="$(find quad_robot)/config/quad_params.yaml" />
    </node>







    <!--ROBOT 1-->


    <!--Run simulated vision-->
    <node pkg = "robotsim" name = "vision1" type = "vision1.py" args="" output="screen">
        <rosparam command="load" file="$(find examples)/config/pub_path1.yaml" />
    </node>

    <!--Run the node that will generate an example path-->
    <node pkg = "robotsim" name = "robot1" type = "drone_sim1.py" args="" output="screen">
        <rosparam command="load" file="$(find robotsim)/config/drone_sim1.yaml" />
    </node>


    <!--Run the node that will generate an example path-->
    <node pkg = "examples" name = "path_generator1" type = "example_path1.py" args="" output="screen">
        <rosparam command="load" file="$(find examples)/config/pub_path1.yaml" />
    </node>


    <!-- Run the node that controls the robot with vector fields -->
    <node pkg="quad_robot" name="quad_node1" type="quad_node1.py" args="" output="screen">
        <rosparam command="load" file="$(find quad_robot)/config/quad_params1.yaml" />
    </node>












    <!--ROBOT 2-->


    <!--Run simulated vision-->
    <node pkg = "robotsim" name = "vision2" type = "vision2.py" args="" output="screen">
        <rosparam command="load" file="$(find examples)/config/pub_path2.yaml" />
    </node>

    <!--Run the node that will generate an example path-->
    <node pkg = "robotsim" name = "robot2" type = "drone_sim2.py" args="" output="screen">
        <rosparam command="load" file="$(find robotsim)/config/drone_sim2.yaml" />
    </node>


    <!--Run the node that will generate an example path-->
    <node pkg = "examples" name = "path_generator2" type = "example_path2.py" args="" output="screen">
        <rosparam command="load" file="$(find examples)/config/pub_path2.yaml" />
    </node>


    <!-- Run the node that controls the robot with vector fields -->
    <node pkg="quad_robot" name="quad_node2" type="quad_node2.py" args="" output="screen">
        <rosparam command="load" file="$(find quad_robot)/config/quad_params2.yaml" />
    </node>





</launch>


